@import "theme.css";

* {
	/* ignore GTK theme */
	all: initial;
	color: @main-fg;
}

@import "styles/fonts.css";
@import "styles/modules-center.css";
@import "styles/modules-left.css";
@import "styles/modules-right.css";
@import "styles/states.css";

.module {
	margin-bottom: -1px;
}

#waybar {
	background-color: transparent;
	font-size: 12px;
}
#waybar > box {
	margin: 4px;
	background-color: @main-bg;
}

button {
	border-radius: 16px;
	min-width: 16px;
	padding: 0 6px;
}
button:hover {
	background-color: @hover-bg;
	color: @hover-fg;
}

tooltip {
	border: 2px solid @main-br;
	border-radius: 10px;
	background-color: @main-bg;
}
tooltip > box {
	padding: 0 6px;
}

#custom-idle-indicator.active,
#custom-notification-silencing-indicator.active {
  color: #a55555;
}

#custom-weather {
  margin-left: 7.5px;
  margin-right: 7.5px;
}

#custom-weather.unavailable {
  min-width: 0;
  margin: 0;
  padding: 0;
}
